body {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
}



#content {
  font-family: "Kitab-Regular", serif;
  /* font-weight: bold; */
  font-size: 25px;
  padding: 0 20px;
  text-align: right;
}


#content >p::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: "*" counter(my-sec-counter) "* ";
}
