body,
html {
  margin: 0;
  padding: 0;
}

#loader {
  width: 0;
  height: 5px;
  background: royalblue;
}

.hide {
  display: none;
}

.god {
  color: red;
}

.page {
  padding: 30px 10px;
  max-width: 550px;
  margin: 30px auto;
  border: 10px solid burlywood;
  box-sizing: border-box;
  // position: relative;
  &::before {
    // position: absolute;
    // content: "";
    // pointer-events: none;
    // background: url("/assets/img/border.png");
    // background-repeat: no-repeat;
    // background-size: contain;
    // font-size: 18px;
    // width: 30px;
    // height: 100%;
    // display: inline-block;
    // line-height: 50px;
    // text-align: center;
    // user-select: none;
  }

  .verse {
    font-family: "Kitab-Regular", serif;
    font-size: 30px;
    line-height: 55px;

    .num {
      pointer-events: none;
      background: url("/assets/img/verseNum.png");
      background-repeat: no-repeat;
      background-size: contain;
      font-size: 18px;
      width: 39px;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      text-align: center;
      margin: 0 10px;
      user-select: none;
    }
  }
}
