body {
  /* Set "my-sec-counter" to 0 */
  /* counter-reset: my-sec-counter; */
}

#content {
  font-family: "Kitab-Regular", serif;
  font-size: 25px;
  padding: 0 20px;
  text-align: right;

  *,
  *::after,
  *::before {
    font-family: "Kitab-Regular", serif;
  }

  h4 {
    text-align: center;
  }

  p.start {
    text-align: center;
  }

  .text {
    line-height: 60px;
    .verse {
      span {
         pointer-events: none
      }
      cursor: pointer;
      &:last-of-type {
        span {
          // float: right;
        }
      }

    }

    .verseNum {
      pointer-events: none;
      background: url("/assets/img/verseNum.png");
      background-repeat: no-repeat;
      background-size: contain;
      font-size: 18px;
      width: 39px;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      text-align: center;
      user-select: none;
      margin-left: 10px;
    }
  }

  .god {
    pointer-events: none;
    color: red;
  }
}