body,
html {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", Helvetica, Arial, sans-serif;
  *,
  *::after,
  *::before {
    font-family: "Tajawal", Helvetica, Arial, sans-serif;
    // user-select: none;
  }
}

body {
  overflow: hidden;
}

#loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: white;

  .indicator {
    width: 0;
    height: 5px;
    background-color: #5fd068;
    transition: width 0.3s ease;
  }
}

.hide {
  display: none;
}

.god,
.query {
  color: red;
  pointer-events: none;
  font-family: "Kitab-Regular", serif !important;
}

.surahName,
.start,
.verse {
  font-family: "Kitab-Regular", serif !important;
}

.start {
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  font-weight: normal;
  margin: 0;
}

.surahInfo {
  margin-top: 15px;
  background: #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 0;

  span {
    font-family: "Kitab-Regular", serif !important;
    text-align: center;
    align-self: center;
  }

  .total,
  .order {
    font-size: 18px;
  }

  .name {
    font-size: 35px;
  }
}

.page {
  padding: 30px 10px;
  max-width: 550px;
  margin: 30px auto;
  border: 10px solid burlywood;
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;

  @media (max-width: 768px) {
    border-color: transparent;
  }

  .pageHint {
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    span {
      padding: 0 5px;
      border-radius: 5px;
      font-family: "Kitab-Regular", serif !important;
    }
    &_name {
      background: white;
      float: left;
    }
    &_part {
      float: right;
      background: white;
    }
  }

  &::after {
    font-family: "Kitab-Regular", serif !important;
    position: absolute;
    content: attr(data-page);
    text-align: center;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background: #f9f9f9;
    letter-spacing: 1px;
    color: #333;
    border-radius: 5px;
  }

  .verse {
    font-size: 30px;
    // line-height: 55px;
    user-select: auto;
    transition: background 0.3s ease;
    cursor:pointer;
    &:hover{
      background: #eee;
    }
    * {
      ::selection {
        background-color: royalblue;
        color: white;
      }
    }
    .god {
      user-select: auto;
      pointer-events: none;
    }
    .num {
      pointer-events: none;
      background: url("/assets/img/verseNum.png");
      background-repeat: no-repeat;
      background-size: contain;
      font-size: 18px;
      width: 39px;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      text-align: center;
      margin: 0 10px;
      user-select: none;
      font-family: "Kitab-Regular", serif !important;
    }
  }
}

.searchPanel {
  width: 100%;
  max-width: 100%;
  color: #666;
  overflow: auto;
  max-height: 50vh;
  line-height: 25px;

  li {
    height: auto;
    border: 1px solid #eee;
    margin-bottom: 10px;
    font-family: "Kitab-Regular", serif !important;
    font-size: 20px;
    color: #333;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    i {
      font-size: 16px;
      font-style: normal;
    }
    .query,
    i {
      font-family: "Kitab-Regular", serif !important;
      pointer-events: none;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.highlight {
  background-color: #ffeb3b;
  color: #3c2c3e;
}

.length {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.tocPanel {
  height: 50vh;
  overflow: auto;
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        height: 50px;
        line-height: 50px;
      }
      td {
        color: #333;
        font-weight: bold;
      }
    }
    tbody {
      td {
        color: #666;
        font-family: "Kitab-Regular", serif !important;
      }
      tr {
        line-height: 30px;
        height: 30px;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}
.featuresBox {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  border-radius: 5px;
  display: none;
  border: 1px solid #333;
  max-width: 280px;
  z-index: 999;
  padding: 5px;
  background: #666;
  text-align: center;
}
