// @import "./fonts.scss";
@import "./components/input.scss";
@import "./components/btn.scss";
@import "./components/switch.scss";
@import "./components/select.scss";
@import "./components/modal.scss";
@import "./components/keyFrames.scss";
@import "./components/popup.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tajawal", Helvetica, Arial, sans-serif;
  background-color: white;
  box-sizing: border-box;
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}

body {
  overscroll-behavior-y: none !important;

  &.overflow {
    overflow: hidden;
  }
}
#app {
  padding: 10px;
  min-height: 100vh;
  overflow-x: hidden;
}

.LoaderView,
.NotFound {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  left: 0;
  top: 0;
  z-index: 9999;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      width: 45px;
      animation: scale 1s ease-in-out infinite alternate;
    }
    p {
      margin-top: -20px;
      color: #666;
      font-weight: bold;
      text-align: center;
      a {
        color: #6a11cb;
      }
    }
  }
}

.NotFound {
  svg {
    animation: none !important;
    width: 95px;
    height: 105px;
    margin: 0 auto;
    display: block;
  }
}

.god {
  color: #f32424;
}

.hizb {
  color: #000957;
}

.disabled {
  filter: grayscale(1);
  &:active {
    transform: none !important;
    transition: none !important;
  }
}

svg {
  pointer-events: none;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
  }
}

// todo complete dark style for modals and so on
// darkmode styles
body.dark {
  background-color: #011240 !important;

  .OptionsRect {
    background: #011240;
    box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.5), -1px -1px 1px 0px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    .trans,
    .copyText,
    .explain,
    .sound {
      button {
        background: transparent !important;
        svg {
          color: white !important;
        }
        &:hover {
          svg {
            color: #2f70ec !important;
          }
        }
      }
    }
  }
  .home .tab {
    background: #6a11cb !important;
  }
  .readView .container .page {
    .bar {
      .juz,
      .name {
        color: white !important;
        border-color: #6a11cb !important;
      }

      .name {
      }
    }
    .options {
      .o-btn {
        background: #6a11cb !important;
        border-color: #101d4c !important;
        &:focus {
          border-color: #6a11cb !important;
        }
      }
      .autoReciting {
        color: white !important;
        input {
          background: #222e5b !important;
          &:checked {
            background: #6a11cb !important;
          }
        }
      }
    }
    .pageContent {
      .head {
        background: #6a11cb !important;
      }
      .verse {
        .sajda span {
          color: white !important;
        }
        &.selected {
          background-color: #101d4c !important;
        }
        &.purple,
        &.orange,
        &.red,
        &.blue {
          .num {
            background: #101d4c !important;
            color: white !important;
          }
        }
        .text {
          color: white !important;
          .god {
            color: #ffeb3b !important;
          }
        }
        .num {
          background: #6a11cb !important;
        }
        &:hover {
          background: #222e5b !important;
          .text {
            color: white !important;
            .god,
            .hizb {
              color: white !important;
            }
          }
          .num {
            background: #6a11cb !important;
          }
        }
      }
    }
    .pageFooter {
      .navBtns {
        .o-btn {
          background: #6a11cb !important;
          border-color: #101d4c !important;
          &:focus {
            border-color: #6a11cb !important;
          }
        }
      }
      .sound,
      .explanation {
        label {
          color: white !important;
        }
      }
    }
  }

  .modal {
    .container {
      background-color: #011240 !important;
      border: 1px solid #222 !important;
      > nav {
        .close {
        }
        &::before {
          background-color: #fff !important;
        }
      }

      .content {
        .settingsInnerWrapper {
          h3 {
            color: white !important;
            border-bottom: 2px solid #3584e2 !important;
          }
          .text {
            color: white !important;
          }
          .darkMode {
            color: white !important;
          }
        }
        .tasbihInnerWrapper {
          h3 {
            color: white !important;
            border-bottom: 2px solid #3584e2 !important;
          }
          .text {
            color: white !important;
          }
        }
        .doneInnerWrapper {
          .time,
          .emptyMsg {
            color: white !important;
          }
        }
        .azkarInnerWrapper {
          h3 {
            color: white !important;
            border-bottom: 2px solid #3584e2 !important;
          }
          .text {
            color: white !important;
          }
          .start {
            color: white !important;
          }
          .god {
            color: #ffeb3b !important;
          }
        }
        .doaaInnerWrapper {
          h3 {
            color: white !important;
            border-bottom: 2px solid #3584e2 !important;
          }
          p {
            color: white !important;
          }
          .text {
            color: white !important;
          }
          .start {
            color: white !important;
          }
          .god {
            color: #ffeb3b !important;
          }
        }
        .bookmarkInnerWrapper {
          border: 1px solid #eee !important;

          nav {
            border-bottom: 1px solid #eee !important;
            background: #011240 !important;

            ul {
              li {
                border: 1px solid #eee !important;

                a {
                  color: white !important;
                }
                &.active {
                  a {
                    color: white;
                  }
                }
              }
            }
          }
          .results {
            ul {
              .emptyBookmarks {
                color: #fff !important;
              }
              li {
                a {
                  color: #fff !important;

                  .verseNum {
                    background: #5fd068;
                    color: white;
                    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 15%);
                  }
                }

                button.remove {
                  background: #f94c66;

                  svg {
                    color: white;
                  }
                }

                .verseInfo {
                  span {
                    color: #fff !important;
                  }
                }

                .surahInfo {
                  span {
                    color: #fff !important;
                  }
                  &__name {
                  }
                  &__page {
                    background: #5fd068;

                    color: white !important;
                  }
                  & ~ button.remove {
                  }
                }

                &:hover {
                  a,
                  .surahInfo__name {
                    color: #647eff !important;
                    transition: all 0.1s ease;

                    .verseNum {
                      background: #5fd068 !important;
                      color: white !important;
                      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 15%) !important;
                    }
                  }
                }
              }
            }
          }
        }

        .searchEngine {
          .bar {
            .o-search {
              input {
              }
              .o-close {
              }
            }
          }

          .innerWrapper {
            border: 1px solid #d8d8d8;

            nav {
              border-bottom: 1px solid #d8d8d8;

              ul {
                li {

                  a {
                  }
                }
              }

              .settingsBtn {
              }

              .length {
                color: #666;
              }
            }

            .results {
              ul {
                li {
                  a {
                    color: white !important;

                    .verseNum {
                      background: #5fd068;
                      color: white;
                      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 15%);
                    }
                  }

                  .verseInfo {
                    span {
                      color: white !important;
                    }
                  }

                  .surahInfo {
                    span {
                      color: white !important;
                    }
                  }

                  .versesSelectBox {
                    label {
                      color: white !important;
                    }
                    .o-select {
                    }
                  }
                }
              }
            }
            .noResultsHint {
              color: white !important;
            }
            .settings {
              .settingsItems {
                label {
                  color: white !important;
                }
              }
              .settingsBtns {
                background: #eee;
                button {
                }
              }
            }
          }
        }
      }
    }
  }
}
