@keyframes scale {
  from {
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes slideToUp {
  from {
    transform: translate3d(0,100vh,0);
  }
  to {
    transform: translate3d(0,5vh,0);
  }
}

@keyframes slideToDown {
  to {
    transform: translate3d(0,100vh,0);
  }
}
