@import "./fonts.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tajawal", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  background-color: white;
  box-sizing: border-box;
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}

body {
  &.overflow {
    overflow: hidden;
  }
}
#app {
  padding: 10px;
}

.LoaderView,
.NotFound {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  left: 0;
  top: 0;
  z-index: 9999;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      width: 50px;
      animation: scale 1s ease-in-out infinite alternate;
    }
    p {
      margin-top: -20px;
      color: #666;
      font-weight: bold;
      text-align: center;
    }
  }
}

.NotFound {
  svg {
    animation: none !important;
    width: 95px;
    height: 105px;
    margin: 0 auto;
    display: block;
  }
}
@keyframes scale {
  from {
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.god {
  color: #F32424;
}

.hizb {
  color: #000957;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  z-index: 9999;

  .container {
    position: relative;
    background: white;
    height: 95vh;
    width: 100%;
    left: 0;
    top: 5vh;
    animation: slideToUp 0.6s cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards;
    border-radius: 30px 30px 0 0;
    border: 1px solid #eee;
    padding: 25px 25px 0;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.05), -1px -1px 6px 1px rgba(0, 0, 0, 0.05);

    // background-image: linear-gradient(90deg, rgba(106, 17, 203, 50%), rgba(47, 112, 236, 50%)), url("./assets/bookmarks.jpg");
    // background-size: cover;
    // background-position: center top;
    // background-repeat: no-repeat;
  }
  &.hide {
    .container {
      animation: slideToDown 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards !important;
    }
  }
}

@keyframes slideToUp {
  from {
    top: 100vh;
  }
  to {
    top: 5vh;
  }
}

@keyframes slideToDown {
  from {
    top: 5vh;
  }
  to {
    top: 100vh;
  }
}
